.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 3em!important;
  display: flex;
  align-items: center;
}
body{
  background-color: #f7df3f !important;
}
.nav-link:active{
  color: #f7df3f;
}
.nav-link:hover{
  transform: scale(1.02);
}
.home-bg{
  background-image: url('https://images.yen.com.gh/images/da77ece8620b5786.jpg?imwidth=900');
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg{
  height: 100vh;
  overflow: hidden;
}
.home-bg p{
  font-weight: 500;
}
.home-bg .header{
  text-shadow: rgba(255, 255, 255, 0.7) 20px 10px 40px, rgba(255, 255, 255, 0.8) 0px 6px 6px !important;
}
.text-right {
  text-align: right;
  padding-right: 20px !important;
}